[Unit]
Description=dsh password entry sidecar
After=network.target

[Service]
Type=simple
User=root
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=@NODE@ /opt/dsh-entry-service.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
